body {
    background-image: url("FONDO.jpg");
    font-family: Arial, sans-serif;
     }
  h1 {
    color: #9e3a8f;
    text-align: center;
    margin-top: 20px; 
     }
  div {
    margin: 20px auto;
    width: 80%;
      }
  p {
    font-size: 18px;
    text-align: center;
    color: #9e3a8f;
    }
  button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9e3a8f;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
         }
  button:hover {
    background-color: #d6c1d1;
               }
